*{
    margin: 0;
    padding: 0;
    /* box-sizing:border-box; */
}

body {
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
}
section {
    max-width: 25%;
    max-height: auto;
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    min-width: 300px;
}

#text-holder2 {
    padding: 5%;
}

#main-div {
    margin: auto;
    background-color: white;
}
 #form-holder {
    text-align: center;
    margin: 5%; 
 }
 #form-item{
    display: block;
 }
 #form-item button{
    width: 100%;
 }
 .form-item button:active{
    width: 100%;
    background-color: #2e8b58;
 }
 .form-item button:hover{
    width: 100%;
    background-color: #2c925a;
    cursor: pointer;
 }
.form-item {
    text-align: left;
}

.form-item input:focus {
  outline-color: #3CB371;
}

.form-item  button{
    width: 99%;
    height: 2rem;
    border-radius: 7px;
    background-color: #3CB371;
    color: white;
    border: none;
}
 #form-holder label{
    font-size: 13pt;
    color: rgb(117, 117, 117);
 }

.form-item input {
    width: 98%;
    padding: 0;
    height: 2rem;
    border-radius: 7px;
    border-color: lightslategray;
    text-align: center;
    border: 1px solid grey;
}
.form-item input:hover {
    width: 98%;
    padding: 0;
    height: 2rem;
    border-radius: 7px;
    border-color: lightslategray;
    text-align: center;
    border: 1px solid grey;
    background-color: rgba(220, 220, 220, 0.945);
}
#text-holder {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
#text-holder h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#text-holder h1 {
 font-size: 28pt;
    
}

#text-holder p {
    margin-bottom: 1rem;
    font-size: 15pt;
}
#text-holder3 a{
    margin-top: 1rem;
    text-decoration: none;
    color: #3CB371; 
}
#text-holder3 {
    margin-top: 1rem; 
    color: white;
}


#text-holder2 a{
    text-decoration: none;
    color: blue;
}